@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: linear-gradient(
    135deg,
    #0a1a0e,
    /* Verde muy oscuro */ #0d2b1a,
    /* Verde oscuro profundo */ #081008 /* Negro verdoso */
  );
  background-attachment: fixed; /* Fija el fondo para que no se rompa */
  background-size: cover; /* Asegura que cubra todo el área visible */
  color: #e5f3e5; /* Texto en verde claro */
  margin: 0;
}
