@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #e5f3e5;
  min-height: 100vh;
  background: linear-gradient(
    135deg,
    #0a1a0e,
    /* Verde muy oscuro */ #0d2b1a,
    /* Verde oscuro profundo */ #081008 /* Negro verdoso */
  );
}
